<section class="footer-above">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>abenteuermagnet</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="{{ base_url_absolute }}">reisen</a></li>
                    <li><a href="{{ base_url_absolute }}/hochzeitsvideos">hochzeitsvideos</a></li>
                    <li><a href="{{ base_url_absolute }}/zeitraffer">zeitraffer</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>Sitemap</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="{{ base_url_absolute }}">reisen</a></li>
                    <li><a href="{{ base_url_absolute }}/hochzeitsvideos">hochzeitsvideos</a></li>
                    <li><a href="{{ base_url_absolute }}/zeitraffer">zeitraffer</a></li>
                    <li><a href="{{ base_url_absolute }}/datenschutz">datenschutz</a></li>
                    <li><a href="{{ base_url_absolute }}/impressum">impressum</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>Kontakt</h5>
                <ul class="list-unstyled quick-links">
                    <li>{{ config.site.author.name }}</li>
                    <li>{{ config.site.metadata.street }}</li>
                    <li>{{ config.site.metadata.zip }} {{ config.site.metadata.city }}</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>Impressum</h5>
                <ul class="list-unstyled quick-links">
                    <li>Telefon: {{ config.site.metadata.telephone }} </li>
                    <li>E-mail: {{ config.site.author.email }} </li>
                    <li><a href="{{ base_url_absolute }}/impressum">impressum</a></li>
                    <li><a href="{{ base_url_absolute }}"> {{ config.site.metadata.homepage }} </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">Copyright &copy 2019-2020 All rights reserved | This page was made with <i
                            class="fas fa-heart"></i> by Albin Weiß, Manuel Seywald and Stefan Jaindl</p>
            </div>
        </div>
    </div>
</section>



<!-- <div class="row footer">
    <div class="large-12 small-12 medium-12 text-center ">
     <div class="border text-center "></div>
     <p class="copyright">Design by <a href="https://www.behance.net/fbaezb">Fernando Baez</a>. Coding & Implementation by <a href="http://www.getgrav.org">GRAV</a> team.</p>
    </div>
 </div> -->