<div class="container social-media-responsive" style="position: absolute; right: 30px; padding: 20px">
    <ul class="list-unstyled list-inline social text-right">
        <li class="list-inline-item"><a class="circle linkedin" href="https://www.linkedin.com/in/stefanjaindl" target="_blank"><i
            class="fa fa-linkedin"></i></a>
        </li>
        <li class="list-inline-item"><a class="circle github" href="https://github.com/sjaindl" target="_blank"><i
                    class="fab fa-github"></i></a>
        </li>
    </ul>
</div>

{# TODO IF ELSE #}
{% set headerImage = '{{ config.site.metadata.resumeImage }}' %}
{% set headerText = '{{ config.site.metadata.resumeHeader }}' %}
{% set headerPageName = 'home' %}
{% if page.header.header_id == 'travel' %}
    {% set headerImage = '{{ config.site.metadata.abenteuerImage }}' %}
    {% set headerText = '{{ config.site.metadata.abenteuerHeader }}' %}
    {% set headerPageName = 'abenteuer' %}
{% elseif page.header.header_id == 'hochzeit' %}
    {% set headerImage = '{{ config.site.metadata.hochzeitImage }}' %}
    {% set headerText = '{{ config.site.metadata.hochzeitHeader }}' %}
    {% set headerPageName = 'hochzeitsvideo' %}
{% elseif page.header.header_id == 'blog' %}
    {% set headerImage = '{{ config.site.metadata.blogImage }}' %}
    {% set headerText = '{{ config.site.metadata.blogHeader }}' %}
    {% set headerPageName = 'blog' %}
{% elseif page.header.header_id == 'zr' %}
    {% set headerImage = '{{ config.site.metadata.zeitrafferImage }}' %}
    {% set headerText = '{{ config.site.metadata.zeitrafferHeader }}' %}
    {% set headerPageName = 'zeitraffer' %}
{% endif %}

<div id="intro"
{% if page.header.header_id == 'hochzeit' %}
     style="background: url('{{ url('theme://') }}/{{ config.site.metadata.hochzeitImage }}')
{% elseif page.header.header_id == 'zr' %}
     style="background: url('{{ url('theme://') }}/{{ config.site.metadata.zeitrafferImage }}')
{% elseif page.header.header_id == 'blog' %}
     style="background: url('{{ url('theme://') }}/{{ config.site.metadata.blogImage }}')
{% elseif page.header.header_id == 'travel' %}
     style="background: url('{{ url('theme://') }}/{{ config.site.metadata.abenteuerImage }}') 
{% else %}
     style="background: url('{{ url('theme://') }}/{{ config.site.metadata.resumeImage }}') 
{% endif %}  no-repeat center center fixed; -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover; ">
    <div class="container align-items-center">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-5 col-lg-4 margin-top-header">
                <span class="badge badge-pill badge-primary"><h2>stefanjaindl</h2></span>
                <p class="header-banner"{% if page.header.header_id == 'hochzeit' %}style="color: #afafaf;"{% endif %}>
                    {% if page.header.header_id == 'hochzeit' %}
                        {{ config.site.metadata.hochzeitHeader }}
                    {% elseif page.header.header_id == 'blog' %}
                        {{ config.site.metadata.blogHeader }}
                    {% elseif page.header.header_id == 'zr' %}
                        {{ config.site.metadata.zeitrafferHeader }}
                    {% elseif page.header.header_id == 'travel' %}
                        {{ config.site.metadata.abenteuerHeader }}
                    {% else %}
                        {{ config.site.metadata.resumeHeader }}
                    {% endif %}
                    
                </p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 ">
                        <ul class="list-unstyled list-inline social text-center">

                            <li class="list-inline-item">
                                <a class="circle resume {% if page.header.header_id == 'home' %} resume-active {% endif %}"
                                href="{{ base_url_absolute }}" data-toggle="tooltip" data-placement="top"
                                title="resume"><i class="fas fa-file"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="circle blog {% if page.header.header_id == 'blog' %} blog-active {% endif %}"
                                   href="{{ base_url_absolute }}/blog" data-toggle="tooltip" data-placement="top"
                                   title="blog"><i class="fas fa-blog"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="circle timelapse {% if page.header.header_id == 'zr' %} timelapse-active {% endif %}"
                                href="{{ base_url_absolute }}/zeitraffer" data-toggle="tooltip" data-placement="top"
                                title="zeitraffer"><i class="fas fa-video"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="circle travel {% if page.header.header_id == 'travel' %}  travel-active {% endif %}"
                                href="{{ base_url_absolute }}/reisen" data-toggle="tooltip" data-placement="top"
                                title="abenteuer"><i class="fas fa-plane"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <span class="badge badge-pill  {{ page.header.badge_class }}"><h4>{{ headerPageName }}</h4></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

