<section>
    <div class="container container-mosaic" style="position: relative !important;" data-max-row-height="300">
        <div id="mosaic" class="mosaic">
            {#<div class="example_div stripe" width="492" height="362" style="background-color: #EC76DE;">#}
            {#<div class="number">1</div>#}
            {#</div>#}
            <a class="item withImage" href="" width="700" height="640"
               style="background-color: #ED4A02;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg'); text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China1</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="538" height="640"
               style="background-color: #ED4A02;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China2</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="618" height="640"
               style="background-color: #EFADA2;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China3</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="640" height="558"
               style="background-color: #EBFA5C;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China4</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="840" height="527"
               style="background-color: #A62478;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China5</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="640" height="418"
               style="background-color: #4913B4;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China6</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="640" height="383"
               style="background-color: #18207D;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China7</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
            <a class="item withImage" href="" width="640" height="596"
               style="background-color: #ACE952;background-image: url('{{ base_url }}/user/pages/01.home/image1.jpeg');text-align: center;">
                <div class="test"><span class="badge badge-pill badge-secondary"><h5>China8</h5></span></div>
                <div class="overlay">
                    <div class="texts"><i class="fas fa-plus-circle fa-3x"></i>
                        <h2>2005 habe ich Dubai besucht und einige Erinnerungen möchte ich mit Ihnen teilen</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>


